-----BEGIN CERTIFICATE-----
MIIFaTCCA1GgAwIBAgIUGQePjjpIBrMA4mUdRn5/vOiDq1cwDQYJKoZIhvcNAQEL
BQAwPDE6MDgGA1UEAxMxRWxhc3RpY3NlYXJjaCBzZWN1cml0eSBhdXRvLWNvbmZp
Z3VyYXRpb24gSFRUUCBDQTAeFw0yNTA3MDIxMjMxMDZaFw0yODA3MDExMjMxMDZa
MDwxOjA4BgNVBAMTMUVsYXN0aWNzZWFyY2ggc2VjdXJpdHkgYXV0by1jb25maWd1
cmF0aW9uIEhUVFAgQ0EwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDV
JLG8o98vuBX8XkwD3ddoQg2HPIIBw71hfLYzU4gShQY4qLgfjVCUEVdxe2qYrPKL
a3ulLgqNRhml8w9sAXnzy6inwDXSgHeOGiYoIz5xJcw1IwtwdllWHnABe4hDuIqU
RkTt0ioZwfM6mCDugZd+9PlTzp13ru99wacEPdulYwB6O8Dqbv8HvihXT8VP87y+
Vicchp/PL0QNPT69rOFt11lT8apMlahxHyTRwy8PWiCODK+RPqW+vyD1oBsOU8my
Gnbvruw52z5881qsZ4lnHBVeVYWDyLZaOjwnnmdK9IZm0pvisYSnns/ecJ73bFMV
uG+qUb43FoJE94KokbI3A7Ql4uw6dzpdILhvLSfEA1cMnp+yn7yqZ5/caEqM6UpK
C0TL7axrWw7GTqHnBxFpK/oFDjtpPBwNZT6G0nC1IxjcvRJCYlqdy+iRW0X+L/JM
00Aa2zW0VK2/rcF+4S7HKcEyMn2SlnHG1mNkpG6Yxd4fqvjdcEyw7tZxYyj2HyDX
tZ7f6QXQDu4u94jyvcWbcuWxLOHWHUJmpFfl/QxtZ8foCCuQDC7AHMQlLZAZm+3w
0ZxAIgvjQLSMPEleEQDw1ZmJXDfMgPVNOz1stHVABLM3+IxJNWw4YDIkhfjeH45Y
Y+99p4Zf9rbhYtiwLcJTnELBH87DMfZ/2ZtaxG5C9wIDAQABo2MwYTAdBgNVHQ4E
FgQUfwU4GT5oND1rar1jX5FjhdR1SZEwHwYDVR0jBBgwFoAUfwU4GT5oND1rar1j
X5FjhdR1SZEwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAQYwDQYJKoZI
hvcNAQELBQADggIBAMFyLaDIsjWpDzPWMxd61JLwQxVzgLsN2kcBEmmHiQIcPAPv
p12388a14g8+pmiF0VFnc1B77gBcZivTllYtoRLXN9xrdsgeWRbdEmc32ZfdZVI4
+UkLEVkO3S6mRy4DsI7vufs0ndv2V7HnHp8SSe2whvFXtnoqv5mFfwxHnZgtFgEo
Ua4ExwlaVHj8YX2xUm4cZzL//8xHvYzAAQackZW9duRX2ypjhoqmKmj7tqmKICUG
CxiQ2eMubJcnPt2JLsTZUDLgzb3yyswmmTkcemreOfj88UAc3Ep0XnRF7JT/Rn3Y
6S5lqkJGtOdqhHtvNRHO2wjlKeFET6lhkDwmmnVew4nuh4ooCiZ2PrNkKuKUS9FI
BFovMZTXcqH4JCNTm6I+ZlAZIQe5CLlA/BloaL2aOGLBGvDIeKhbHxbEdYdPZsaN
qpeYKxOq7UIwERULDSJRR/Hp9tCup7nl+TGcvZ10bqNfb96hDE3zEDr2OdCoG/l6
0fXBljMuJZEyyBleMiD7fwx1xPR/pStIVehgx7JdYH2DJZcwozOmtcn6XQqIeDn+
hv7sGG8cMFRAC6Pvg3LbxXXQ6v9Hs4cdI7iEJCNZPI9YA11fkc6ShXL2oyU86hn8
fvDF1zuIIOBPAuDtf9y/5l7FF9NUgjfY5jkwy0H0pq2OL+3X+Nwapd3n3oPM
-----END CERTIFICATE-----